
body {
  background-image: url("../images/band4.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 4rem auto 1rem;
  width: 90%;
  text-align: center;
  font-size: 6rem;
  font-family: 'Special Elite', cursive;
  color: white;
  text-shadow: 3px 3px 5px #000;
}

.explain {
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  margin: 3rem auto 1rem;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 30%;
  border-radius: 10px;
}

.icon-container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.drummer-icon {
  width: 10%;
  background-color: #FCDC3B	;
  border-radius: 50%;
}

.keys {
  width: 95%;
  margin: 3rem auto 3rem;
  color: white;
  text-align: center;

}

.key {
  display: inline-block;
  width: 5rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 10px;
  border: 1px solid yellow;
  margin-right: 15px;
  transition: all 0.07s;


}

.key kbd {
  display: block;
  font-size: 3rem;
  font-family: 'Special Elite', cursive;
}

.key span {
  font-size: 1.1rem;
  color: white;
}

.playing {
  transform: scale(1.1);
  border-color: magenta;
  box-shadow: 0 0 10px #ff00ff;
}
